body{background:#FFF;color:#777;font:12px/1.5em Arial;position:relative;margin:0;padding:10px}

/* Typography */
h1,h2,h3,h4{margin:0;padding:0;font-weight:normal}
    h1{font-size:20px;margin:20px 0;color:#9ccc31}
    h2{color:#444;font-size:14px;margin-bottom:10px}
    h3{color:#444;font-size:12px;margin-bottom:15px}
    h4{color:#777;font-weight:bold;font-size:12px;margin-bottom:10px;padding-top:10px}
a{color:#9ccc31;text-decoration:underline}
    a:hover{text-decoration:none}
em{font-style:italic;font-family:Georgia}
abbr{border-bottom:1px dotted #BBB;cursor:help}
/* Common text styling */
.text-left{text-align:left}
.left{float:left}
.text-center{text-align:center !important}
.text-right{text-align:right !important}
.right{float:right}
/* Horizontal rules */
hr{border:none;color:#FFF;background:#FFF;height:1px;border-bottom:1px dotted #CCC}

/* Form elements */
/* Forms */
label,.textbox{float:left}
label{position:relative;display:block;padding-bottom:3px}
.textbox,.file,textarea{clear:both;margin-bottom:.5em;border:1px solid #CCC;font-size:1.1em;padding:4px;width:275px;color:#555}
textarea{overflow:auto;width:400px}
select{color:#555;padding:2px;font-size:11px !important}
.focus{border:1px solid #AAA}
textarea{font:17px/1.5em Arial,Helvetica,"Liberation sans","Bitstream Vera Sans",sans-serif;height:150px;width:450px}
form br{clear:both}

/* Tables */
table{width:700px;border-collapse:collapse;margin-bottom:30px}
    tr:hover td{background:#FBFBFB}
    th,td{padding:6px;text-align:left}
    th{border-bottom:1px solid #CCC}
    th{font-weight:normal;text-transform:uppercase;font-size:10px}
    td{border-bottom:1px dotted #CCC}